*{
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  height: 100vh;
}
.Side-bar{
  background-color: #253141;
  width: 300px;
  &__user-name{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    overflow: scroll;
  }
}

.top-items{
  height: 20px;
  width: 260px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  &__name{
    color: #ffffff;
    font-size: 16px;
  }
  &__icon{
    a {
      color: #ffffff;
    }
    display: flex;
    align-items: center;
    border: 60px;

    font-size: 16px;
    &--left{
      margin-left: 5px;
    }
    &--right{
      margin-left: 5px;
      color: #ffffff;
    }
  }
}

.group-items{
  a {
    color: #ffffff;
    text-decoration: none;
  }
  &__name{
    font-size: 15px;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  &__message{
    font-size: 11px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.Chat-main{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100%;
  &__group-info{
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee ;
    padding: 0 40px;
  }
  &__message-list{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    overflow: scroll;
  }
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 50px 20px 40px;
  }
}

.group-name{
  &__index{
    align-items: center;
    &--text{
      color: #333333;
      font-size: 20px;
      margin-top: 35px;
    }
    &--memmber{
      color: #999999;
      font-size: 12px;
      margin-top: 15px; 
      display: flex;
      ul{
        display: flex;
      }
      li{
        margin-right: 5px;
      }
    }
  }
  &__edit{
    a{
    color: #38aef0;
    text-decoration: none;
    }
    border: 1px solid #38aef0;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-top: 28px;
    padding: 0 20px;
    text-decoration: none;
  }
}


.message-content{
  margin-left: 40px;
  padding-top: 35px;
  &__box{
    &__field{
      display: flex;
      
      &__user-name{
        color: #333333;
        font-size: 16px;
        font-weight: bold;
      }
      
      &__date{
        color: #999999;
        font-size: 12px;
        padding-left: 10px;
      }
    }
  }
}

.message-box{
  color: #434A54;
  font-size: 14px;
  margin: 12px 0 46px 40px;
}

.form-contents{
  margin-right: 15px;
  display: flex;
  width: 100%;
  &__box{
    display: flex;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    &--text{
      height: 50px;
      border-style: none;
      padding: 0 40px 0 10px;
      color: #434a54;
      width: 100%;
    }
    &--image{
      height: 50px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      font-size: 1.3rem;
    }
    &--file{
      display: none;
    }
  }
  &__btn{
    background-color: #38AEF0;
    border: none;
    color: #ffffff;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}